body
{
	padding:0px; 
	margin:0px;
	font-family: Droid Sans, Helvetica, sans serif;
/**
	background-image:url('../img/logo2.jpg');
*/
	background-image:url('../img/scroll.gif');		
	background-repeat:no-repeat;
	background-position: right bottom;
	background-attachment:fixed;

}

img
{
	vertical-align: middle;
}

h1
{
	font-size: 120%;
}

.content-spacer
{
	height: 600px;
	width: 700px;
}

#header-container
{
	position:fixed; 
	top:0px; 
	left:0px; 
	width:100%; 
	background-image:url('../img/top-menu-filler.gif'); 
	background-repeat:repeat-x;
	z-index: 1000;
}

#header-block
{
	border: 0px solid black;	
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	text-align:left;
}


.header-element
{
	text-align: center;
	font-size: 100%;
	height:50px;
	float:left;
	background:Black;
	color:White;
	padding-right:5px;
	padding-left:5px;	
}

.header-element:hover 
{
	cursor:pointer;
} 

.content-block
{
	border: 0px solid black;
	
	width: 700px;
	height: 1000px;
	margin-left: auto;
	margin-right: auto;	
	padding: 30px;
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(255, 255, 255);
	/* RGBa with 0.6 opacity */
	background: rgba(255, 255, 255, 0.6);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF, endColorstr=#99FFFFFF);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF, endColorstr=#99FFFFFF)";
}

.left-column
{
	float: left;
	width: 340px;
	margin-right:20px;
}

.right-column
{
	float: left;
	width: 340px;
}

.chisiamo-container
{
	width: 701px;
	margin-left:auto;
	margin-right:auto;
}

.news-container
{
	padding-top:160px; 
	background-image:url('../img/whats_up.png'); 
	background-repeat:no-repeat; 
	background-position: left top;
	width: 701px;
	margin-left:auto;
	margin-right:auto;
}

.social-network-small
{
	height:30px;
	vertical-align: baseline;
}

.portaits-container
{
	padding-top:190px; 
	background-image:url('../img/mouse_over.gif'); 
	background-repeat:no-repeat; 
	background-position: middle top;
}

.music-container
{	
	width: 701px;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:200px; 
	background-image:url('../img/play_me.gif'); 
	background-repeat:no-repeat; 
	background-position: left bottom;
}

.contatti-container
{
	width: 701px;
	margin-left:auto;
	margin-right:auto;
}


#scroll
{
	background-image:url('../img/scroll.gif');
	background-repeat:no-repeat;
	background-position: left bottom;
	background-attachment:fixed;
}

div.event
{
	border: 1px solid black;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 2px;
	padding-right: 2px;
	width:340px;
	height: 250px;
	margin-bottom:20px;
}

div.past-event
{
	 
}


.event-header
{
	font-size:110%;
	font-weight: bold;
	text-align:center;
}

.event-content
{
	font-size:100%;
	text-align:left;
}

img.event-icon
{
	width:50px;
}

input.email-text
{
	width: 190px;
	height: 31px;
	border: 1px solid #333;
	font-size: 14px;
	padding: 0px;
	margin: 10px;
	vertical-align: middle;
}

textarea.email-text
{
	border: 1px solid #333;
	font-size: 14px;
	padding: 0px;
	margin: 10px;
	vertical-align: middle;
}

.email-submit
{
	width:80px;
	height:80px;
/**	border: 1px dashed black;*/
	background-image:url('../img/email.png');
	background-repeat:no-repeat;
	background-position: center center;
}

.email-container
{
	padding-left:260px;
	background-image:url('../img/email_us.png');
	background-repeat:no-repeat;
	background-position: left bottom;
}

.social-container
{
	margin-top:100px;
	text-align:center;
	padding-top:150px;
	background-image:url('../img/follow.png');
	background-repeat:no-repeat;
	background-position: center top;
}

.footer
{
	text-align:center;
	color:Grey;
}